:root {

    --white: #ffffffc5;
    --black: #212121;
    --principal: #45b6fe;
    --secundary: #e60026;
    --aux: #ff9800;    
}
.button{
    text-align: center;

    padding: 1rem;
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
    background-color: rgb(63, 62, 62);
}

body{
    font-size: 16px;    
    font-family: 'Roboto', sans-serif;

}

*, *::before, *:after {
    box-sizing: inherit;
}



.menuBg {
    background-color: rgb(0, 0, 0);
}

.menuBackstorage {
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.menuBackstorage a{
    padding: 2rem 1rem 1rem 1rem;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 0.9);
    font-weight: bold;
}



#show{
    display: none;
}

.menuBackstorage a:hover{
    background-color:var(--aux);
    
}



.list{
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    
}

.listS{
    text-align: center;
    list-style-type: none;
    
}




/*-----------Clients----------*/

.shadow{
  
    background-color: var(--white);
    margin-bottom: 3rem;
    border-radius: 10px;
    padding: 2rem;
}

.space{
    margin-top: 3rem;
    
}

.main{
    text-align: center;
    margin: 0 auto;
    margin-bottom: 2rem;
}



.list h3{
    border-bottom: solid;
    color:rgb(7, 34, 43);
    font-size: 2rem;
}

.infoDesing{
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.3);
    background-color: #7caecf;
    margin-bottom: 3rem;
    margin-right: 2rem;
    border-style: solid;
    padding: auto;
   
}

.infoDesing1{
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.3);
    background-color: #7caecf;
    margin-bottom: 3rem;
    padding-bottom: 4rem;
    margin-right: 2rem;
    border-style: solid;
    padding: auto;
    margin: auto;
   
}
.l{
    display: block;
    margin-bottom: 2rem;
}


.manyTitles{
    padding-bottom: 3rem;
    border-bottom: 2px dashed grey;
}

.titleDesing{
    border-left: 5px solid rgb(32,32,151);
    border-right: 5px solid rgb(32, 32, 151);
    padding: 0 1rem;
}

